/* Global CSS  */

/* title
====================================================== */

#impress.step-title .step { opacity: 0.1; }

#impress.step-title .active { opacity: 1; }

@keyframes rotate-h1 {
  0%   { transform: perspective(1000px) rotateY(-10deg); }
  100% { transform: perspective(1000px) rotateY(10deg); }
}

#title h1 {
  text-align: center;
  transform-style: preserve-3d;
  animation: rotate-h1 2s infinite alternate ease-in-out;
  transform: perspective(1000px) rotateY(0deg);
  transition: all 2s ease-in-out;
  font-size: 28px
}

#title h1 .short {
  line-height: 40px;
  margin-bottom: 10px;
  transform: translateZ(-50px);
}

#title h1 .css {
  font-size: 0.9em;
}

#title h1 .transforms {
  margin-top: 25px;
  line-height: 40px;
  transform: translateY(-0.6em) translateZ(50px);
}


.footnote {
  margin-top:20px;
  border-top:4px #CCC solid;
  padding-top: 10px;
}

.center {
  text-align: center;
}
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
